body{
    background-image: url("./images/beauty2.jpg");
    background-size: cover;
    
}
    
.responsive{
    width: 100%;
    height: auto;
}

.jumbotron h1,h2{
    text-align: center;
    color: blueviolet
}

.space{
    padding:0px;
}
form{
    margin-top:-4%;
    float: center;
    text-align: center;
}
.form-group{
    width: 30%;
    margin: auto;
    color: blue;
}
.month{
    padding-top: 12px;
}
.submit {
   padding-right: 20px;
}
.navbar{
    text-align: center;
}