body{
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
    background-size:center;
    font-family: 'Comfortaa', cursive;
    font-style: default;
}
.responsive{
    width: 100%;
    height: auto;
}

.jumbotron h1,h2{
    text-align: center;
    color:rgb(2, 3, 14);
    
}

.space{
    padding:0px;
}
form{
    margin-top:-4%;
    float: center;
    text-align: center;
}
.form-group{
    width: 30%;
    margin: auto;
    color:hotpink;
}
.month{
    padding-top: 12px;
}
.submit {
   padding-right: 20px;
}
.label{
color:white;
}
footer {
    padding: 20px;
    color: burlywood;
}
}
.cont{
    text-align: centre !important;
}